.movies__list {
	padding: 0;
	color: white;
	max-width: 1140px;
	margin: 78px 0 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 35px;
	column-gap: 20px;
	list-style: none;
}

@media screen and (max-width: 1278px) {
	.movies__list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 1040px) {
	.movies__list {
		margin: 81px 0 0;
		padding: 0;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 28px;
		column-gap: 30px;
	}
}

@media screen and (max-width: 640px) {
	.movies__list {
		margin: 50px 10px 0;
		grid-template-columns: repeat(1, 1fr);
		row-gap: 31px;
	}
}
