.movies__card {
	width: 270px;
	margin: 0 auto;
	overflow: hidden;
}
.movies__card-photo {
	width: 270px;
}
.movies__card-about {
	padding-top: 9px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 100%;
}
.movies__card-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	border-bottom: 1px solid #424242;
	padding-bottom: 24px;
}
.movies__card-title {
	margin: 0;
  font-family: "Inter", Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0px;
	text-align: left;
}
.movies__card-time {
	color: #8b8b8b;
  font-family: "Inter", Arial, sans-serif;
	font-size: 11px;
	font-weight: 400;
	line-height: 13px;
	letter-spacing: 0px;
	text-align: left;
}

.movies__card-button {
	margin: 0;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.movies__card-button:hover {
    opacity: 0.7;
  }

.movies__card-like {
	background-image: url(../../images/MovieItem/movieLike.svg);
}

.movies__card-like_active {
	background-image: url(../../images/MovieItem/movieLikeActive.svg);
}

.movies__card-checkBox:hover {
	opacity: 0.8;
}
.movies__card-delete {
	background-image: url(../../../src/images/MovieItem/buttonDelet.svg);
}
.movies__card-delete:hover {
	opacity: 0.5;
}

@media screen and (max-width: 1040px) {
	.movies__card {
		width: 339px;
		margin: 0 auto;
	}
	.movies__card-photo {
		width: 339px;
		height: 190px;
	}
	.movies__card-about {
		padding-top: 7px;
	}
	.movies__card-delete {
		width: 24px;
		height: 24px;
	}
}
@media screen and (max-width: 766px) {
	.movies__card {
		width: 270px;
		height: 235px;
	}
	.movies__card-photo {
		width: 270px;
		height: 168px;
	}
}
@media screen and (max-width: 640px) {
	.movies__card {
		width: 300px;
		height: 235px;
		height: 100%;
	}
	.movies__card-photo {
		width: 300px;
		height: 168px;
	}
}
