.movies {
	margin: 0 70px 81px 70px;

	padding: 0;
}

.movies__button-more {
	display: block;
	padding: 0;
	margin: 58px auto 0 auto;
	width: 320px;

	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 0px;
	text-align: center;
	border: none;
	height: 36px;
	background-color: #2f2f2f;
	cursor: pointer;
	color: #ffffff;
	border-radius: 6px;
}

.movies__button-more:hover {
	opacity: 0.8;
}

@media screen and (max-width: 840px) {
	.movies {
		margin: 10px 30px 109px 30px;
	}
}
@media screen and (max-width: 600px) {
	.movies {
		margin: 50px auto 80px;
		.movies__button-more {
			width: 240px;
		}
	}
}
