.aboutProject {
  font-family: "Inter", Arial, sans-serif;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	background-color: #202020;
	padding-left: 70px;
	padding-right: 70px;
}

.aboutProject__title {
	width: 100%;
  font-family: "Inter", Arial, sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: -0.04em;
	margin: 0;
	margin-top: 110px;
	padding-bottom: 23px;
	border-bottom: 1px solid #dadada;
}

.aboutProject__table {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	column-gap: 54px;
}

.about-project__tabel-title {
  font-family: "Inter", Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.04em;
	text-align: left;
	line-height: 24px;
	color: #ffffff;
	margin: 70px 0 25px 0;
}

.about-project__tabel-text {
	margin: 0;
  font-family: "Inter", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #ffffff;
}

.aboutProject__road {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 20% 80%;
	row-gap: 14px;
	margin-bottom: 110px;
	margin-top: 111px;
}

.aboutProject__road-week {
	text-align: center;
	margin: 0;
  font-family: "Inter", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	background-color: #303030;
	height: 18px;
	padding-top: 9px;
    padding-bottom: 9px;
}

.aboutProject__road-week:first-of-type {
	background-color: #3ddc84;
	color: #000000;
}

.aboutProject__road-span {
	text-align: center;
  font-family: "Inter", Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	color: #8b8b8b;
}

@media screen and (max-width: 1000px) {
	.aboutProject__title {
		margin-top: 90px;
	}

	.aboutProject {
		padding-left: 50px;
		padding-right: 50px;
	}

	.aboutProject__table {
		column-gap: 45px;
	}

	.about-project__tabel-title {
		margin-bottom: 22px;
	}

	.about-project__tabel-text {
  font-family: "Inter", Arial, sans-serif;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: left;
	}

	.aboutProject__road {
		margin-top: 93px;
	}
}

@media screen and (max-width: 389px) {
	.aboutProject {
		padding-left: 18px;
		padding-right: 18px;
	}

	.aboutProject__title {
  font-family: "Inter", Arial, sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: -0.04em;
		text-align: left;
		margin-top: 69px;
		padding-bottom: 29px;
	}

	.about-project__tabel-title {
  font-family: "Inter", Arial, sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: -0.04em;
		text-align: left;
	}
	.aboutProject__table {
		flex-direction: column;
	}

	.about-project__tabel-title {
  font-family: "Inter", Arial, sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: -0.04em;
		text-align: left;

		margin-top: 61px;
		margin-bottom: 14px;
	}
	.about-project__tabel-text {
  font-family: "Inter", Arial, sans-serif;
		font-size: 11px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0em;
		text-align: left;
	}

	.aboutProject__road {
		margin-top: 57px;
		grid-template-columns: 36% 64%;
	}
	.aboutProject__road-span {
  font-family: "Inter", Arial, sans-serif;
		font-size: 11px;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 0px;
		text-align: center;
	}

	.aboutProject__road-week {
  font-family: "Inter", Arial, sans-serif;
		font-size: 11px;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 0em;
		text-align: center;
	}
}
