.app {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  color: #fff;
  width: 100%;
  min-height: 100%;
}

.page__container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", "Arial", sans-serif;
  color: #fff;
}
