
  .navigation__landing {
    position: absolute;
    top: 18px;
    right: 0px;
    gap: 30px;
    display: flex;
    align-items: center;
  }
  
  .navigation__link {
    margin: 0;
    color: #fff;
    text-align: right;
  font-family: "Inter", "Arial", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
  }
  .navigation__link:hover {
    opacity: 0.7;
  }
  
  .navigation__button {
    margin-top: 3px;
    border-radius: 3px;
    background-color: #3ddc84;
    width: 76px;
    height: 32px;
    text-align: center;
    color: #000;
  font-family: "Inter", "Arial", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
  }
  .navigation__button:hover {
    opacity: 0.8;
  }
  
  .navigation__nav-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    
  }
  .navigation__nav-link_active {
    font-weight: 500;
  }
  .navigation__nav-link:hover {
    opacity: 0.7;
  }
  
  .navigation_main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
align-items: center
  }
  .navigation__profile {
    margin: 10px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation__profile:hover {
    opacity: 0.7;
  }

  .navigation__profile-main{
    display: flex;
    flex-direction: row;
    column-gap: 7px;    
align-items: center;
  }

  .navigation__profile-title {
    font-family: "Inter", "Arial", sans-serif;
   font-size: 13px;
   font-weight: 500;
   line-height: 12px;
   color: #FFFFFF;
   margin: 0;
   }
   
   .navigation__profile-icon {
    margin: 0;
    background-color: #313131;
    border-radius: 50px;
    background-image: url(../../images/profile/profile.svg);
    background-repeat: no-repeat;
    background-position: center;
   margin-left: 7px;
   width: 26px;
   height: 26px;
   }
  
  .navigation__movie {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navigation__nav-link {
    margin: 0;
    padding: 0;
  }
  
  .navigation__button-menu { 
    background-image: url(../../images/burger.svg);
    background-color: transparent;
    border-radius: 10%;
    background-position: center;
    cursor: pointer;
    border: none;
    width: 44px;
    height: 44px;
   
  }
  .navigation__button-menu:hover {
    opacity: 0.8;
  }
  

  @media screen and (max-width: 769px) {
    .navigation__link {
  margin: 0;
  padding: 0;
    }
    .navigation {   
      gap: 30px;      ;
      position: absolute;
      top: 16px;
      right: -40px;
    }

    .navigation__button {
      margin: 0;
      margin-right: 10px;
    }

    .navigation__landing {
      top: 21px;
      right: -50px;
    }

}

@media screen and (max-width: 700px) {
  .navigation {
    gap: 14px;
    position: absolute;
    right: 38px;
  }}


@media screen and (max-width: 320px) {
  .navigation {
    gap: 14px;
    position: absolute;
    top: 26px;
    right: 19px;
  }
  .navigation__button {
    margin-top: 6px;
    width: 54px;
    height: 26px;
    font-size: 12px;
    font-size: 10px;
    line-height: 25px;
  }
  .navigation__nav-link {
    font-size: 10px;
    line-height: 16px;
  }
  .navigation__button-menu {
    background-image: url(../../images/burger.svg);
    width: 22px;
    height: 22px
  }
  .navigation__link {
    font-size: 10px;
  }

  
  .navigation__landing {
    top: 18px;
    right: 0px;
  }
}