.savedMovies {
	margin: 0 70px 81px;
    padding: 0;
}
@media screen and (max-width: 768px) {
	.savedMovies {
		padding-bottom: 178px;
		margin: 10px 30px 0 30px;
	}
}
@media screen and (max-width: 600px) {
	.savedMovies {
		margin: 50px auto 70px;
		padding-bottom: 79px;
	}
}
