.header {
	height: 74px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header_headen {
	visibility: hidden;
}

.headear__navigation {
	margin-left: 70px;
	margin-right: 70px;
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
}

.header_landing{
	background-color: #073042;
	display: flex;
	height: 74px;

}

.header__logo {
	margin-right: 44px;
	width: 38px;
	height: 38px;
}

.header__logo:hover {
    opacity: 0.7;
  }


.header__profile {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-right: 70px;
	text-decoration: none;
}

 .navigation__profile-title{
	font-family: "Inter", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 12px;
	letter-spacing: 0px;
	text-align: left;
	
  }

  .navigation__profile-icon{
	width: 26px;
	height: 26px;
  }
.header__profile-title {
	font-family: "Inter", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 12px;
	color: #ffffff;
}

.header__profile-icon {
	margin-left: 7px;
}



@media screen and (max-width: 769px) {
	.headear__navigation {
		margin-left: 30px;
		position: relative;
	}

	.header__profile {
		margin-right: 30px;
	}
	.headear__navigation {
		display: flex;
		flex-direction: row;
	}
}

@media screen and (max-width: 700px) {
	.headear__navigation {
		margin-left: 14px;
		margin-right: 4px;
	}
}
