.register {
	width: 100%;
}

.register__main {
	margin: 0;
	color: white;
	background-color: #202020;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register__label {
	margin-top: 24px;
	color: #8b8b8b;
  font-family: "Inter", Arial, sans-serif;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
}

.register__label:first-child {
	margin-top: 0;
}

.register__input {
	outline: none;
  font-family: "Inter", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	width: 396px;
	height: 17px;
	padding: 0;
	margin: 0;
	background-color: #202020;
	max-width: 396px;
	border-bottom: solid, 1px;
	border-right: none;
	padding-bottom: 12px;
	color: #FFFFFF;
	text-decoration: none;
}

.register__input:hover {
    opacity: 0.7;
  }

.register__input:focus {
	outline: solid grey;
  }

.register__form {
	display: flex;
    flex-direction: column;
    margin-bottom: 83px;
    align-items: flex-start;
    width: 396px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 450px) {
	.register__form{
		width: 260px;
	}
	
	.register__input {
		width: 260px;
	  font-family: "Inter", Arial, sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 0em;
	}
}
