.promo {
	display: inline-block;
	background-color: #073042;
	display: flex;
	flex-direction: column;
    background-image: url(../../../images/CCCCCC.svg);
	background-repeat: no-repeat;
	background-size: 722px 244px;
	background-position: top 256px right 70px;
	height: 560px;
}

.promo__title {
	font-family: "Inter", Arial, sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 52px;
	letter-spacing: -0.04em;
	width: 626px;
	margin-top: 50px;
	margin-left: 70px;
	width: 680px;
	text-align: left;
}

/* .promo__picture {
	width: 722;
	height: 244px;
	margin: 76px 0 59px 421px;
} */

@media screen and (max-width: 1270px) {
	.promo {
		background-size: 680px 230px;
		background-position-y: 544px;
		background-position-x: center; 
		height: 844px;
		
	}
	.promo__title {
	      padding-top: 300px;
		text-align: center;
		margin: 0 auto  auto;
	}

	.promo__picture {
		width: 680px;
		height: 230px;
		margin: 140px 0 70px 0;
	}
}

@media screen and (max-width: 700px) {
	.promo {
		height: 630px;
		background-position-y: 360px;
	}
	.promo__title {
		padding-top: 183px;
		margin: 0 auto 0 auto;
		width: 300px;
		font-size: 31px;
		font-weight: 400;
		line-height: 39px;
		letter-spacing: -0.04em;
	}

	.promo__picture {
		margin: 15px 0 0 0;

		height: 315px;
	}
}
