.aboutMe {
	display: flex;
	flex-direction: column;
	padding-left: 70px;
	padding-right: 70px;
	background-color: #202020;
}

.aboutMe__title {
  font-family: "Inter", Arial, sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: -0.04em;
	margin: 0;
	margin-top: 110px;
	padding-bottom: 23px;
	border-bottom: 1px solid #dadada;
}

.aboutMe__resume {
	padding-top: 66px;
	display: grid;
	grid-template-columns: 1fr 270px;
	grid-auto-rows: 90px repeat(3, 1fr);
	column-gap: 270px;
}

.aboutMe__resume-photo {
	height: 327px;
	width: 270px;
	margin: 0;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 5;
}

.aboutMe__resume-name {
  font-family: "Inter", Arial, sans-serif;
	font-size: 50px;
	font-weight: 400;
	line-height: 58px;
	letter-spacing: -0.04em;
	text-align: left;

	margin: 0;
}

.aboutMe__resume-summary {
  font-family: "Inter", Arial, sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	margin: 0;
	padding-top: 10px;
}

.aboutMe__resume-biography {
  font-family: "Inter", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin: 0;
	padding-top: 15px;
}

.aboutMe__link {
	padding-top: 93px;
  font-family: "Inter", Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	text-decoration: none;
	color: #ffffff;
	margin: 0;
}

.aboutMe__link:hover {
    opacity: 0.7;
  }


@media screen and (max-width: 1000px) {
	.aboutMe {
		padding-left: 50px;
		padding-right: 50px;
	}

	.aboutMe__title {
		margin-top: 90px;
	}

	.aboutMe__resume {
		column-gap: 49px;
		grid-template-columns: 1fr 255px;
	}

	.aboutMe__resume-photo {
		width: 100%;
		height: 307px;
	}

	.aboutMe__resume-name {
  font-family: "Inter", Arial, sans-serif;
		font-size: 40px;
		font-weight: 400;
		line-height: 40px;
		letter-spacing: -0.04em;
		text-align: left;
	}

	.aboutMe__resume-summary {
  font-family: "Inter", Arial, sans-serif;
		font-size: 12px;
		font-weight: 500;
		line-height: 18px;
		letter-spacing: 0px;
		text-align: left;
		padding-top: 15px;
	}
	.aboutMe__resume-biography {
  font-family: "Inter", Arial, sans-serif;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0px;
		text-align: left;
		padding-top: 20px;
	}
}

@media screen and (max-width: 760px) {
	.aboutMe {
		padding-left: 14px;
		padding-right: 14px;
	}

	.aboutMe__title {
  font-family: "Inter", Arial, sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: -0.04em;
		text-align: left;
		margin-top: 50px;
		padding-bottom: 29px;
		border-color: #000000;
	}

	.aboutMe__resume {
		padding-top: 60px;
		display: flex;
		flex-direction: column;
	}
	.aboutMe__resume-photo {
		margin: 0 auto 0 auto;
		width: 292px;
		height: 352px;
	}

	.aboutMe__resume-name {
  font-family: "Inter", Arial, sans-serif;
		font-size: 30px;
		font-weight: 400;
		line-height: 36px;
		letter-spacing: -0.04em;
		text-align: left;
		padding-top: 40px;
	}

	.aboutMe__resume-summary {
  font-family: "Inter", Arial, sans-serif;
		font-size: 11px;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 0px;
		text-align: left;
		padding-top: 20px;
	}

	.aboutMe__resume-biography {
  font-family: "Inter", Arial, sans-serif;
		font-size: 11px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0px;
		text-align: left;
	}

	.aboutMe__link {
  font-family: "Inter", Arial, sans-serif;
		font-size: 14px;
		font-weight: 500;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: left;
		padding: 40px 0 0 0;
	}
}
