@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.app {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
  }
/* * { outline: 1px solid red; } */